{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"      type="text/css" href="{% static 'css/config.css' %}">
    <link rel="stylesheet"      type="text/css" href="{% static 'css/nav.css' %}">
    <title>Document</title>
</head>
<body>
    {% include "bot/page/navbar.html" %}
    <div class="container-login">
        <div class="container">
            <form action="{% url 'bot:login' %}" method="POST" name="form">{% csrf_token %}
                <label for="user" >Nome de Usuario</label>
                <input type="text" name="user" placeholder="User">
                <label for="password">Senha</label>
                <input type="password" name="password" placeholder="*******">
                <button type="submit">Entrar</button>
            </form>
        </div>
    </div>
    
    
</body>
</html>