{% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        <title>UnBlaze Bot</title>
        <meta charset="utf-8">
        <link rel="stylesheet"      type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet"      type="text/css" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet"      type="text/css" href="{% static 'css/nav.css' %}">
        <meta name="viewport"       content="width=device-width, initial-scale=1.0">
        <meta name="author"         content="autor do site">
        <meta name="keywords"       content="palavras-separadas,por,virgula">
        <meta name="description"    content="descrição do site">
        <link rel="icon" href="{% static 'image/blaze-icon.svg' %}">
    </head>
    <body>
        {% include "bot/page/navbar.html" %}
        <div class="container" id="container">
            <div class="logo">
                <img src="{% static 'image/unblaze.png' %}" alt="unblaze_logo">
            </div><!--logo-->

            <div class="results" id="results">
                <div class="wrapperBox">
                    {% for match in matchs %}
                        <img class="colorBox cb{{match}}" src="{% static color %}" alt="">
                    {% endfor %}
                    <img class="colorBox cb3" src="{% static 'image/cboxWhite.png' %}" alt="">
                </div>
                
                <div class="odds_bar">
                    <span class="porcentage">{{porcentagem}}%</span>
                    <progress max="100" value="{{porcentagem}}"> {{porcentagem}}% </progress>
                </div>
            </div><!--results-->

            <form action="{% url 'bot:sinais' %}" method="GET">
                <div class="signalWrapper">
                    <button class="btn signalButton" onclick="abc(23, 50)">Receber Sinal</button>
                </div>
                <div class="sendTelegWrapper">
                    <label for="SendTelegram">* Enviar Sinal para o Telegram</label>
                    <input name="SendTelegram" id="SendTelegram" type="checkbox">
                </div>
            </form>
            
            <div class="telegramWrapper">
                <form action="{% url 'bot:check_resultado' gale %}" method="GET">
                    <button class="btn telegButton telegGale">Gale</button>
                </form>
                <form action="{% url 'bot:check_resultado' win %}" method="GET">
                    <button class="btn telegButton telegWin">Win</button>
                </form>
                <form action="{% url 'bot:check_resultado' white %}" method="GET">
                    <button class="btn telegButton telegWinWhite">Win Branco</button>
                </form>
                <form action="{% url 'bot:check_resultado' loss %}" method="GET">
                    <button class="btn telegButton telegLoss">Loss</button>
                </form>
            </div>
        </div><!--container-->
    </body>
    <script>
        function abc(a, b){
            let resultado = a + b
            
            console.log(resultado)
        }
    </script>
</html>